<launch>

	<node pkg="stopper" type="stopper_node" name="stopper_node" output="screen" />

<include file="$(find tracking)/launch/detection_and_tracking_kinect2.launch"/>

	<param name="Start_Stop_Pan" value="true" />

	<node pkg="kinect_orientation_control" type="kinect_orientation_control_node" name="kinect_orientation_control_node" />

	
	
</launch>





