<launch>

	<node pkg="stopper" type="stopper_node" name="stopper_node" output="screen" launch-prefix="gnome-terminal --command" />

<include file="$(find tracking)/launch/detection_and_tracking_kinect2.launch"/>

	<param name="Start_Stop_Pan" value="true" />

	<node pkg="kinect_orientation_control" type="kinect_orientation_control_node" name="kinect_orientation_control_node" />

	
	<node pkg="people_follower" type="simple_follower_kinect2_pan" name="simple_follower_kinect2_pan" output="screen" launch-prefix="gnome-terminal --command" />
	
</launch>





